#map {
    height: 50vh; /* высота карты на устройствах, где viewport height доступен */
    margin-top: 20px; /* отступ от headers сверху */
  }

  @media (min-width: 768px) {
    #map {
      height: calc(100vh - 100px); /* высота карты на устройствах, где viewport height не доступен */
    }
  }