<div class="toggle">
  <button data-value="current">Current Promos</button>
  <button data-value="all">All Promos</button>
  <select id="city-select">
    <option value="">Select city</option>
  </select>
</div>

<script>
  // Get the value of the 'promos' parameter from the URL
  const urlParams = new URLSearchParams(window.location.search);
  const promosParam = urlParams.get('selection');

  // Set the default value of the toggle to 'current'
  let toggleValue = 'current';

  // If the 'promos' parameter is set to 'all', update the toggle value
  if (promosParam === 'all') {
    toggleValue = 'all';
  }

  // Set the selected toggle button based on the toggle value
  const toggleButtons = document.querySelectorAll('.toggle button');
  toggleButtons.forEach(button => {
    if (button.getAttribute('data-value') === toggleValue) {
      button.classList.add('selected');
    }
  });

  // Add event listeners to the toggle buttons
  toggleButtons.forEach(button => {
    button.addEventListener('click', () => {
      // Get the value of the button that was clicked
      const value = button.getAttribute('data-value');

      // Update the URL with the new 'promos' parameter value
      const url = new URL(window.location.href);
      url.searchParams.set('selection', value);
      window.location.href = url.toString();
    });
  });

  // Получаем элемент выпадающего списка
  const selectElement = document.getElementById('city-select');

  // Обработчик выбора города
  selectElement.addEventListener('change', function(event) {
    const selectedCity = event.target.value;
    window.location.href = `/?city=${selectedCity}`;
  });

  // Загружаем список городов из API
  fetch('/api/cities/')
    .then(response => response.json())
    .then(data => {
      data.forEach(city => {
        const optionElement = document.createElement('option');
        optionElement.value = city.name;
        optionElement.text = city.name;
        selectElement.add(optionElement);
      });
    });
</script>

<style>
  .toggle {
    display: inline-block;
    vertical-align: middle;
  }

  .toggle button {
    display: inline-block;
  }

  #city-select {
    display: inline;
    margin-left: 10px;
    vertical-align: middle;
  }
</style>
