{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Promo Map</title>
    <style>
      #map {
        height: 700px;
        width: 100%;
      }
    </style>
    {{ promos|json_script:"promos-data" }}
    {{ city|json_script:"city" }}
  </head>
  <body>
    <div id="map"></div>
    <script src="{% static 'js/promos_map.js' %}"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API }}&callback=initMap"></script>
  </body>
</html>
